.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .header {
    display: flex;
    width: 100%;
    margin: 0 8%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 2rem;

    @media (max-width: 600px) {
      height: 150px;
    }

    @media (max-width: 1200px) {
      margin: 0 6%;
    }

    &__logo {
      width: 100%;
      height: 100%;
      max-width: 250px;
      object-fit: contain;
    }

    &__links {
      display: flex;
      align-items: center;
    }

    &__link {
      color: var(--color-text-light);
      text-decoration: none;
      font-size: 1rem;
      margin: 0 1.5rem;
      transition: all 0.3s ease-in-out;
      font-weight: 300;
      min-width: 50px;
      &:hover {
        color: var(--color-link-hover-light);
      }

      &--btn {
        background-color: rgb(41, 80, 212);
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: rgb(41, 80, 212, 0.8);
          transform: scale(1.05);
          color: white;
        }

        @media (max-width: 600px) {
          display: none;
        }
      }
    }

    &__mobile {
      &-login {
        background-color: rgb(41, 80, 212);
        color: white;
        padding: 0.5rem 5rem;
        border-radius: 5px;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        margin-top: 2rem;

        &:hover {
          background-color: rgb(41, 80, 212, 0.8);
          transform: scale(1.05);
          color: white;
        }

        @media (min-width: 600px) {
          display: none;
        }
      }

      &-menu {
        @media (min-width: 600px) {
          display: none;
        }
      }
    }

    @media (max-width: 900px) {
      flex-direction: column;
      padding-bottom: 1.5rem;
      &__logo {
        max-width: 200px;
        margin-top: 1rem;
      }

      &__link {
        margin: 0 1rem;
      }

      &__links {
        min-width: 300px;
        justify-content: space-between;
        margin-top: 1rem;
      }
    }

    @media (max-width: 480px) {
      flex-direction: column;

      &__links {
        margin-top: 1rem;
        // justify-content: center;
      }

      &__link {
        margin: 0.5rem 0;
      }
    }
  }
}
